
node_modules/
.env
.env.local
env
dist
build
npm-debug.log*
.DS_Store
.idea/
*.suo
*.user
*.sln
firebase-emulator-data
firebase-emulator-data/
firebase-emulator-export
firebase-emulator-export/
partner_workout.md
partner_workout
to_do.md
to_do
project_analysis.md
project_analysis
.geminiignore